<!-- Author: Vinay Janardhanan -->
<div class="modal-body">
	<div style="font-size: 100px;text-align: center"><i class="fa fa-user"></i></div>
	<form name="loginForm">
		<input class="form-control" data-ng-model="user.username" type="email" placeholder="Email"  required="required"/>
		<div class="separator"></div>
		<input class="form-control" data-ng-model="user.name" placeholder="Name" required="required"/>
		<div class="separator"></div>
		<input class="form-control" data-ng-model="user.phone" placeholder="Phone" required="required"/>
		<div class="separator"></div>
		<div class="text-center">
			<button class="btn btn-primary" data-ng-click="doLogin()" data-ng-disabled="!loginForm.$valid">
				<span data-ng-if="!logging">Register</span>
				<span data-ng-if="logging"><i class="fa fa-spinner fa-spin"></i> Registering User...</span>
			</button>
		</div>
		<div class="text-danger text-center">{{status}}</div>
	</form>
	

</div>